.style{
    
} 
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-around; 
    background-color:rgb(149, 233, 205);
    padding-top: 20px;
    padding-bottom: 20px;
} 
.logo{
    height: 60px;
}

.productos{
    height: 140px; 
}
.productoss{
    display: flex;
    justify-content: space-between;
    padding: 20px;


}
.horarios{
    display: flex;
    justify-content: end;
    border-color:aquamarine;
    border-style: solid;
}
.ropa{
    display: flex;
    justify-content: center;
}
.reseñas{
display: flex;
justify-content: center; 
    

    
}
.comentarios{
display: flex;
background-color: aquamarine;
justify-content:space-around
}
.footer{
    display: flex;
background-color: aquamarine;
justify-content:space-around;
margin-top: 50px;
margin-right: 500px;
margin-left: 500px;

}